@charset "utf-8";
/********************************************这是banner的注释*********************************************/
*{margin: 0px;
 padding: 0px;}

.logo{
width: 100%;        
height: 250px;
background: #BBDFEF;
background: cover;
}

.logo-t{
	width: 100px;
	height: 50px;
	padding: 25px;
	float: left;
}

.HUST{
    height: 50px;
	padding: 25px;
	float: right;
}

.ke{
    margin: 0 auto;
    position: absolute;
    top: 0px;
    left: 20%;
    text-align: center;
}

/***************************************************这是导航栏的注释*************************************************/

.dao{
	width: 100%;
	height: 50px;
	background: #70B7B4;
	z-index: 1;
}
.cai{
	width: 750px;
	height: 50px;
	margin: 0 auto;
	list-style-type: none;
	z-index: 1;
}

.cai-x{
	float: left;
	width: 150px;
	line-height: 50px;
	text-align: center;
	font-family: actor;
	font-size: 25px;
	font-weight: 600;
	z-index: 1;
}

.cai-x:hover{
	background:#A0D9F2;
	z-index: 1;
}

/*******************************************弹窗的注释**********************************************/
.cai-x:hover .tan1{
	display: block;
	z-index: 1;
}

.cai-x:hover .tan2{
	display: block;
	z-index: 1;
}



.cai-x .tan1{
	width: 150px;
	height: 170px;
	box-shadow: 0px 5px 10px #888888;
	display: none;
	opacity: 0.8;
	z-index: 1;
}

.cai-x .tan2{
	width: 150px;
	height: 85px;
	box-shadow: 0px 5px 10px #888888;
	display: none;
	opacity: 0.8;
	z-index: 1;
}

.cai-x .tan1 .tan11{
	width: 150px;
	font-size: 18px;
	line-height: 40px;
	list-style-type: none;
	padding: 5px 0;
    z-index: 1;
}

.cai-x .tan2 .tan22{
	width: 150px;
	font-size: 18px;
	line-height: 40px;
	list-style-type: none;
	padding: 5px 0;
	z-index: 1;
}

.cai-x .tan1 .tan11 .tan0:hover{
	background-color: #70B7B4;
	z-index: 1;
}

.cai-x .tan2 .tan22 .tan0:hover{
	background-color: #70B7B4;
	z-index: 1;
}


/******************************************下面是主体注释************************************************/
.main{
	height: 2000px;
	width: 100%;
	padding-top: 200px;
	background:#E4F2F8;
}

.lan{
    position: absolute;
	top: 300px;
	text-align: center;
	width: 100%;
    height: 235px; 
	z-index: 0;
	
}
.main .picture{
	height:750px;
	width: 80%;
	margin: 0 auto;
}

.main .picture .title{
	position: relative;
	height:80px;
	text-align: center;
	font-size: 40px;
}

.main .picture .picture1{
    width: 270px;
    height: 290px;
    box-shadow: 0px 5px 5px #888888;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.picture1:hover{
	transition: all 0.5s;
	transform: scale(1.1);
	box-shadow: 5px 5px 10px #888888;
}



.table{
	margin-top: 100px;
	
}

.main .space{
	width: 100%;
	height:550px;
	margin: 0 auto;
	background:#D4E9E8;
	    box-shadow: 0px 5px 5px #888888;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main .space .title{
		height:80px;
	text-align: center;
	font-size: 40px;
	
}

.zcpicture1{
 float: left;
	margin: 30px 60px;
}
.zcpicture2{
	float: right;
	margin: 30px 50px;
}




.left_div{
	width: 900px;
	height: 450px;
	margin: 0 auto;
    box-shadow: 0px 5px 5px #888888;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.container{
	width: 800px;/*图片的宽*/
	height: 400px;/*高*/
	margin: 0 auto;
	overflow: hidden;/*超出部分隐藏*/
	position: relative;
}
.container .list{
	width: 5600px;/*五张图片的宽的总像素*/
	height: 100%;
	position: absolute;
}
.container img{/*图片的浮动和宽高*/
	float: left;
	width: 800px;
	height: 400px;
}
.container a{
	width: 60px;
	line-height: 60px;
	font-size: 45px;
	text-align: center;
	color: red;
	background: #C3C3C3;
	position: absolute;
	top: 40%;
	display: none;
	text-decoration: none;
}
.container a.prev{
	left: 0px;
}
.container a.next{
	right: 0px;
}
.container .buttons{
	position: absolute;
	bottom: 8px;
	right: 25px;
}
.container .buttons span{
	width: 23px;
	line-height: 23px;
	border-radius: 50%;/*圆形的效果*/
	float: left;
	text-align: center;
	background: #c3c3c3;
	margin-left: 8px;
	font-size: 18px;
	color: red;
}
.container .buttons span.on{
	color: green;/*发生移动的图片 伪类on 颜色发生改变*/
	background-color: #8D7D7D;
}
.container:hover a{
	display: block;
}
.left_div .list img{

}
.left_div .buttons span{
	cursor: pointer;/*手的图标出现*/
}
/*版权声明：本文为CSDN博主「慧小慧」的原创文章，遵循 CC 4.0 BY-SA 版权协议，转载请附上原文出处链接及本声明。
原文链接：https://blog.csdn.net/weixin_44546549/java/article/details/86518473*/

/******************************************以下是页脚的注释*************************************************/
.foot{
	height: 40px;
	width: 100%;
	background: #4AA8D0;
}

.foot ul{
	width: 404px;
	height: 40px;
	margin: 0 auto;
	border-left: 1px solid #000000;
}

.foot ul li{
	float: left;
	list-style-type: none;
	width: 100px;
	border-right: 1px solid #000000;
	line-height: 40px;
	text-align: center;
}

.bq{
	width: 100%;
	height: 100px;
	background: #000000;
	color: aliceblue;
	text-align: center;
	padding-top: 40px;
}

/***************************************************link的注释****************************************/
a:link,a:visited{
	color:#000000;
	text-decoration: none;
}
a:hover{
	color: aliceblue;
}
